@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #292929;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button-border {
  color: var(--pure-white, #fff);
  text-align: center;
  font-weight: 600;
  line-height: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 0.125rem solid #fff;
  padding: 0.875rem 2.9375rem;
  background-color: #121212;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button-border--fw {
  width: 100%;
}

.button-border-radius {
  padding: 0.875rem 2.875rem;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  line-height: 162.523%;
  /* 26.004px */
  border-radius: 1.6875rem;
  background: #ff7500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button-border-radius:hover {
  color: #ff7500;
  background: #ffffff;
}

.button-form {
  border-radius: 0.375rem;
  background: #ff6b00;
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 135.3%;
  /* 16.236px */
  padding: 1.25rem 1.5625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button-form:hover {
  color: #ff7500;
  background: #ffffff;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1.0625rem;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #de8f32;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  line-height: 133.023%;
  /* 59.86px */
}

.title span {
  color: #ff7500;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(18, 18, 18, 0.2196078431);
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__logo::before {
  content: "";
  height: 0.125rem;
  top: 0.5rem;
  right: 3.4375rem;
  width: 0.625rem;
  background-color: #fff;
  position: absolute;
  border-radius: 0.625rem;
}

.header__logo::after {
  content: "";
  height: 0.625rem;
  border-radius: 50%;
  top: 0.25rem;
  right: 2.875rem;
  width: 0.625rem;
  background-color: #fff;
  position: absolute;
}

.header__btn {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.9375rem;
}

.menu__item {
  text-align: center;
  display: inline-block;
  position: relative;
}

.menu__item::after {
  content: "";
  position: absolute;
  height: 0.125rem;
  background-color: #ffffff;
  bottom: -0.125rem;
  left: 50%;
  width: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item:hover::after {
  left: 0;
  width: 100%;
}

.menu__link {
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: normal;
}

.icon-menu {
  display: none;
}

.footer {
  background: #121212;
}

.footer__container {
  color: #fff;
}

.footer__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 162.523%;
  /* 45.506px */
}

.footer__title:not(:last-child) {
  margin-bottom: 0.375rem;
}

.footer__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 1.25rem;
}

.footer__block:not(:last-child) {
  margin-bottom: 3.5625rem;
}

.footer__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  max-width: 20.9375rem;
  text-align: center;
  font-weight: 500;
  line-height: 162.523%;
  /* 26.004px */
  opacity: 0.3;
}

.footer__text:not(:last-child) {
  margin-bottom: 1.75rem;
}

.footer__form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer__input {
  width: 100%;
  color: #fff;
  padding: 1rem 1.25rem;
  border-radius: 6px;
  border: 1.5px solid #fff;
  background: rgba(166, 166, 166, 0.05);
}

.footer__input::-webkit-input-placeholder {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 135.3%;
  /* 16.236px */
  opacity: 0.3;
}

.footer__input::-moz-placeholder {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 135.3%;
  /* 16.236px */
  opacity: 0.3;
}

.footer__input:-ms-input-placeholder {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 135.3%;
  /* 16.236px */
  opacity: 0.3;
}

.footer__input::-ms-input-placeholder {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 135.3%;
  /* 16.236px */
  opacity: 0.3;
}

.footer__input::placeholder {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 135.3%;
  /* 16.236px */
  opacity: 0.3;
}

.footer__socials {
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__text-footer {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.footer__social-item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__social-item:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.spollers-footer__item {
  min-width: 6.5625rem;
}

.spollers-footer__title {
  list-style: none;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 162.523%;
  width: 100%;
  cursor: default;
  position: relative;
}

.spollers-footer__title:not(:last-child) {
  margin-bottom: 1.375rem;
}

.spollers-footer__body {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.spollers-footer__body-item {
  line-height: 162.523%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.spollers-footer__body-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.spollers-footer__body-item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.item-footer-1 {
  text-align: center;
}

.item-footer-2 {
  text-align: center;
}

._spoller-init .title-footer-1 {
  cursor: pointer;
}

._spoller-init .title-footer-1::before,
._spoller-init .title-footer-1::after {
  content: "";
  position: absolute;
  right: -2.1875rem;
  top: 50%;
  background-color: #ffffff;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .title-footer-1::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .title-footer-1::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .title-footer-1._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .title-footer-1._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

._spoller-init .title-footer-2 {
  cursor: pointer;
}

._spoller-init .title-footer-2::before,
._spoller-init .title-footer-2::after {
  content: "";
  display: block;
  position: absolute;
  left: 0.625rem;
  top: 50%;
  background-color: #ffffff;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .title-footer-2::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .title-footer-2::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .title-footer-2._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .title-footer-2._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.main-page {
  background: #121212;
}

.main-page__container {
  color: #fff;
  padding-top: 10.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-page__title {
  max-width: 36.5625rem;
  font-weight: 700;
  line-height: 133.023%;
  /* 66.511px */
  text-transform: uppercase;
}

.main-page__spollers {
  font-size: 16px;
  font-weight: 500;
  line-height: 133.023%;
  /* 21.284px */
}

.spollers-main__item {
  position: relative;
  width: 14.6875rem;
  text-align: start;
}

.spollers-main__item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.spollers-main__item::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.075rem;
  background: #fff;
}

.spollers-main__title {
  list-style: none;
  width: 100%;
  font-weight: 500;
  line-height: 133.023%;
  /* 21.284px */
}

._spoller-init .spollers-main__title {
  cursor: pointer;
}

._spoller-init .spollers-main__title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0.3125rem;
  height: 1.0625rem;
  width: 1.0625rem;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  background: url("../img/icon/arrow.svg") 0 0 no-repeat;
}

._spoller-init .spollers-main__title._spoller-active::before {
  content: "";
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.spollers-main__body {
  padding: 1.25rem 0.625rem;
}

.pic {
  position: relative;
  min-height: 100vh;
}

.pic__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pic__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon__list {
  opacity: 0;
  -webkit-transition: all 1s ease 0.1s;
  transition: all 1s ease 0.1s;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

._watcher-view .icon__list {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.icon__image {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.04);
}

.icon__image img {
  max-width: 100%;
}

.icon__text {
  max-width: 4.375rem;
  color: #565656;
  font-weight: 500;
  line-height: 131.023%;
}

.should__tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.should__title {
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  text-align: center;
}

._watcher-view .should__title {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.should__title:not(:last-child) {
  margin-bottom: 1.125rem;
}

.should__title-text {
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  max-width: 29.6875rem;
  text-align: center;
}

._watcher-view .should__title-text {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.should__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.should__coulmn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.should__item:nth-child(1) {
  opacity: 0;
  -webkit-transition: all 1s ease 0.1s;
  transition: all 1s ease 0.1s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
}

._watcher-view .should__item:nth-child(1) {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.should__item:nth-child(2) {
  opacity: 0;
  -webkit-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
}

._watcher-view .should__item:nth-child(2) {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.should__item:nth-child(3) {
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
}

._watcher-view .should__item:nth-child(3) {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.should__item:not(:last-child) {
  margin-bottom: 3.75rem;
}

.should__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--pure-white, #fff);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 133.023%;
  /* 31.925px */
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background: var(--primary-color, #ff7500);
}

.should__number:not(:last-child) {
  margin-bottom: 0.875rem;
}

.should__lable {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 133.023%;
  /* 31.925px */
}

.should__lable:not(:last-child) {
  margin-bottom: 0.875rem;
}

.should__text {
  color: var(--text-black, #292929);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 175.523%;
  /* 28.084px */
  max-width: 29.6875rem;
  opacity: 0.3;
}

.should__image-big {
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%);
}

._watcher-view .should__image-big {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.should__image-big img {
  max-width: 100%;
}

.should__image-small {
  opacity: 0;
  -webkit-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%);
  z-index: 2;
  position: absolute;
  bottom: 23.645320197%;
  right: 13.1944444444%;
  padding: 0rem 0rem 13.6875rem 27.4375rem;
}

._watcher-view .should__image-small {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.should__image-small img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.should__people {
  position: relative;
  z-index: 3;
}

.people__row {
  position: relative;
  z-index: 3;
  width: 13.25rem;
  padding: 0.625rem 4rem 0.625rem 0.875rem;
  border-radius: 0.375rem;
  background: #fff;
  -webkit-box-shadow: 1px 7px 22px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 7px 22px 0px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.people__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2.5625rem;
          flex: 1 1 2.5625rem;
  position: relative;
  aspect-ratio: 41/41;
}

.people__image img {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.people__name {
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 133.023%;
  /* 18.623px */
}

.people__name:not(:last-child) {
  margin-bottom: 0.1875rem;
}

.people__raiting {
  color: rgba(41, 41, 41, 0.4);
  font-size: 0.75rem;
  line-height: 133.023%;
  /* 15.963px */
}

.people__raiting span {
  color: #ff7500;
}

.row-people-1 {
  opacity: 0;
  -webkit-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  position: absolute;
  z-index: 3;
  top: 45.5172413793%;
  right: 20.1388888889%;
}

._watcher-view .row-people-1 {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.row-people-2 {
  opacity: 0;
  -webkit-transition: all 1s ease 0.4s;
  transition: all 1s ease 0.4s;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  position: absolute;
  top: 29.5566502463%;
  right: 6.5972222222%;
}

._watcher-view .row-people-2 {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.row-people-3 {
  opacity: 0;
  -webkit-transition: all 1s ease 0.4s;
  transition: all 1s ease 0.4s;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  position: absolute;
  z-index: 2;
  bottom: 0%;
  right: 6.5972222222%;
}

._watcher-view .row-people-3 {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.choice__tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice__tit:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.choice__sub-title {
  opacity: 0;
  -webkit-transition: all 1s ease 0.1s;
  transition: all 1s ease 0.1s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 133.023%;
  /* 31.925px */
}

._watcher-view .choice__sub-title {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.choice__sub-title:not(:last-child) {
  margin-bottom: 1rem;
}

.choice__title {
  opacity: 0;
  -webkit-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
}

._watcher-view .choice__title {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.choice__title:not(:last-child) {
  margin-bottom: 1.125rem;
}

.choice__text-title {
  opacity: 0;
  -webkit-transition: all 1s ease 0.4s;
  transition: all 1s ease 0.4s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  max-width: 29.6875rem;
  font-weight: 500;
  line-height: 175.523%;
  /* 28.084px */
  text-align: center;
  color: rgba(41, 41, 41, 0.3254901961);
}

._watcher-view .choice__text-title {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.choice__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 20.3125rem 20.3125rem;
  grid-template-rows: 20.3125rem 20.3125rem;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.choice__column {
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
}

._watcher-view .choice__column {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.choice__image {
  position: relative;
  padding: 0 0 13.875rem 0rem;
}

.choice__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.choice__image:not(:last-child) {
  margin-bottom: 1.125rem;
}

.choice__image-sub-title {
  opacity: 0.6;
  font-style: normal;
  font-weight: 500;
  line-height: 133.023%;
  /* 18.623px */
  text-decoration: underline;
}

.choice__image-sub-title:not(:last-child) {
  margin-bottom: 0.375rem;
}

.choice__lable {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 133.023%;
  /* 29.265px */
}

.image-big-img {
  position: relative;
  padding: 0 0 34.25rem 0;
}

.image-big-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  background: #121212;
}

.about__container {
  color: #fff;
}

.about__block-about {
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
}

._watcher-view .about__block-about {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.about__title {
  text-transform: uppercase;
  position: relative;
  font-style: normal;
  font-weight: 700;
  line-height: 133.023%;
  /* 59.86px */
}

.about__title:not(:last-child) {
  margin-bottom: 3.8125rem;
}

.about__title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 3.8666666667em;
  height: 0.25rem;
  border-radius: 3.5px;
  background: #ff7500;
}

.about__text {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 162.523%;
  /* 29.254px */
  opacity: 0.3;
}

.about__text p:not(:last-child) {
  margin-bottom: 1rem;
}

.about__text:not(:last-child) {
  margin-bottom: 2.25rem;
}

.about__image {
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%);
  position: relative;
  aspect-ratio: 592/681;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 36.9375rem;
          flex: 1 1 36.9375rem;
}

._watcher-view .about__image {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.about__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.glassic__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.glassic__block-glassic {
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
}

._watcher-view .glassic__block-glassic {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.glassic__title {
  font-weight: 700;
  line-height: 133%;
  /* 42.56px */
  text-transform: uppercase;
}

.glassic__title:not(:last-child) {
  margin-bottom: 1.75rem;
}

.glassic__rating:not(:last-child) {
  margin-bottom: 0.5rem;
}

.glassic__sub-title {
  font-size: 1.125rem;
  font-weight: 500;
  opacity: 0.6;
  line-height: 162.523%;
  /* 29.254px */
}

.glassic__list-image {
  max-width: 17.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.glassic__list-image:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.glassic__item-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 3.5625rem;
          flex: 1 1 3.5625rem;
  position: relative;
  aspect-ratio: 57/57;
}

.glassic__item-image:nth-child(2) {
  -webkit-transform: translate(-0.9375rem);
      -ms-transform: translate(-0.9375rem);
          transform: translate(-0.9375rem);
}

.glassic__item-image:nth-child(3) {
  -webkit-transform: translate(-2.1875rem);
      -ms-transform: translate(-2.1875rem);
          transform: translate(-2.1875rem);
}

.glassic__item-image:nth-child(4) {
  -webkit-transform: translate(-3.4375rem);
      -ms-transform: translate(-3.4375rem);
          transform: translate(-3.4375rem);
}

.glassic__item-image:nth-child(5) {
  -webkit-transform: translate(-4.6875rem);
      -ms-transform: translate(-4.6875rem);
          transform: translate(-4.6875rem);
}

.glassic__item-image img {
  border: 0.15625rem solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.glassic__text {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 162.523%;
  /* 29.254px */
  opacity: 0.6;
}

.glassic__block-services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.glassic__column-services {
  background: #fff;
  -webkit-box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
          box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
  padding: 2.5625rem 1.25rem 2.625rem 1.625rem;
}

.glassic__image-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #ff6b00;
}

.glassic__image-services:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.glassic__image-services img {
  max-width: 100%;
}

.glassic__lable-services {
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 120.023%;
  /* 26.405px */
}

.glassic__lable-services:not(:last-child) {
  margin-bottom: 0.875rem;
}

.glassic__text-services {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 162.523%;
  /* 22.753px */
  opacity: 0.3;
}

@media (min-width: 40.625em) {
  .footer__text-footer {
    -webkit-transform: translate(4.5rem);
        -ms-transform: translate(4.5rem);
            transform: translate(4.5rem);
  }

  .glassic__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .glassic__block-glassic {
    max-width: 21.875rem;
  }

  .glassic__text {
    max-width: 16.3125rem;
  }
}

@media (min-width: 44.1875em) {
  .footer__input {
    width: 21.5625rem;
  }

  .footer__button {
    position: absolute;
    top: -0.0625rem;
    right: -0.0625rem;
  }

  .item-footer-1 {
    text-align: start;
  }

  .item-footer-2 {
    text-align: end;
  }
}

@media (min-width: 47.99875em) {
  .about__text {
    max-width: 23.5625rem;
  }
}

@media (min-width: 56.25em) {
  .should {
    position: relative;
  }

  .should__img {
    padding-right: 34.375rem;
  }

  .should__image-big {
    position: absolute;
    bottom: 3.0541871921%;
    right: -0.6944444444%;
    padding: 0rem 0rem 39.75rem 27rem;
  }

  .should__image-big img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 57.5em) {
  .choice__column:nth-child(2) {
    -ms-grid-row-span: 3;
    grid-row-end: span 3;
  }
}

@media (min-width: 62.5em) {
  .glassic__container {
    padding-top: 13.75rem;
  }

  .glassic__block-services {
    -webkit-transform: translate(1.4375rem, -50%);
        -ms-transform: translate(1.4375rem, -50%);
            transform: translate(1.4375rem, -50%);
  }

  .glassic__column-services {
    max-width: 21.1875rem;
    max-height: 15rem;
  }
}

@media (min-width: 65.625em) {
  .about {
    position: relative;
  }

  .about__image {
    position: absolute;
    padding: 0rem 0rem 40rem 36.9375rem;
    height: 100%;
    top: 0rem;
    right: 0;
  }

  .about__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 73.125em) {
  .title {
    font-size: 2.8125rem;
  }

  .header {
    min-height: 6.25rem;
  }

  .header {
    padding-top: 1.875rem;
  }

  .header {
    padding-bottom: 1.875rem;
  }

  .menu__list {
    -webkit-column-gap: 2.75rem;
       -moz-column-gap: 2.75rem;
            column-gap: 2.75rem;
  }

  .footer__container {
    padding-top: 3.6875rem;
  }

  .footer__container {
    padding-bottom: 2.5625rem;
  }

  .main-page__container {
    padding-bottom: 6.3125rem;
  }

  .main-page__title {
    font-size: 3.125rem;
  }

  .icon__container {
    padding-top: 5.375rem;
  }

  .icon__container {
    padding-bottom: 3.375rem;
  }

  .should__container {
    padding-top: 6.25rem;
  }

  .should__container {
    padding-bottom: 3.8125rem;
  }

  .should__tit:not(:last-child) {
    margin-bottom: 6.25rem;
  }

  .choice__container {
    padding-top: 6.25rem;
  }

  .choice__container {
    padding-bottom: 6.25rem;
  }

  .about__container {
    padding-top: 9.375rem;
  }

  .about__container {
    padding-bottom: 9.3125rem;
  }

  .about__title {
    font-size: 2.8125rem;
  }

  .glassic__container {
    -webkit-column-gap: 6.0625rem;
       -moz-column-gap: 6.0625rem;
            column-gap: 6.0625rem;
  }

  .glassic__title {
    font-size: 2rem;
  }

  .glassic__sub-title:not(:last-child) {
    margin-bottom: 5rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.25rem;
  }

  .header {
    min-height: 3.75rem;
  }

  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .menu__list {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .footer__container {
    padding-top: 1.875rem;
  }

  .footer__container {
    padding-bottom: 1.875rem;
  }

  .main-page__container {
    padding-bottom: 3.125rem;
  }

  .main-page__title {
    font-size: 1.875rem;
  }

  .icon__container {
    padding-top: 1.875rem;
  }

  .icon__container {
    padding-bottom: 1.5625rem;
  }

  .should__container {
    padding-top: 1.5625rem;
  }

  .should__container {
    padding-bottom: 1.5625rem;
  }

  .should__tit:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .choice__container {
    padding-top: 1.5625rem;
  }

  .choice__container {
    padding-bottom: 1.5625rem;
  }

  .about__container {
    padding-top: 3.125rem;
  }

  .about__container {
    padding-bottom: 3.125rem;
  }

  .about__title {
    font-size: 2.25rem;
  }

  .glassic__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .glassic__title {
    font-size: 1.5rem;
  }

  .glassic__sub-title:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 65.625em) {
  .about__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
  }
}

@media (max-width: 62.5em) {
  .glassic__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .glassic__block-services {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 62.5em) and (max-width: 20em) {
  .glassic__container {
    padding-top: 3.125rem;
  }

  .glassic__container {
    padding-bottom: 3.125rem;
  }
}

@media (max-width: 60.3125em) {
  .people__row {
    display: none;
  }
}

@media (max-width: 57.5em) {
  .choice__img {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .choice__column:nth-child(2) {
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
  }
}

@media (max-width: 56.25em) {
  .should__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .should__image-small {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    right: -100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    background-color: #121212;
    padding-left: rem(15);
    padding-right: rem(15);
    padding-bottom: rem(30);
    gap: rem(30);
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #121212;
    width: 100%;
    z-index: 5;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .menu__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-page__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-page__title {
    text-align: center;
  }

  .spollers-main__item {
    width: 19.375rem;
  }

  .about__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) and (max-width: 0.125em) {
  .menu__body {
    padding-top: 3.75rem;
  }

  .menu__body::before {
    height: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 44.1875em) {
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__row {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__form-row {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__form-input {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.625rem;
  }

  .footer__button {
    width: 100%;
  }

  ._spoller-init .title-footer-2::after,
  ._spoller-init .title-footer-2::before {
    content: "";
    position: absolute;
    left: 105%;
  }
}

@media (max-width: 40.625em) {
  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .glassic__container {
    row-gap: 1.25rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 34.375em) {
  .choice__img {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    row-gap: 1.25rem;
  }

  .choice__column:nth-child(2) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .choice__column:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 28.125em) {
  .about__button {
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 73.125em) {
@supports (font-size: clamp( 2.25rem , 2.0382352941rem  +  1.0588235294vw , 2.8125rem )) {
    .title {
      font-size: clamp( 2.25rem , 2.0382352941rem  +  1.0588235294vw , 2.8125rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 2.0382352941rem  +  1.0588235294vw , 2.8125rem )) {
    .title {
      font-size: calc(2.25rem + 0.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports ( min-height: clamp( 3.75rem , 2.8088235294rem  +  4.7058823529vw , 6.25rem )) {
    .header {
      min-height: clamp( 3.75rem , 2.8088235294rem  +  4.7058823529vw , 6.25rem );
    }
}

@supports not ( min-height: clamp( 3.75rem , 2.8088235294rem  +  4.7058823529vw , 6.25rem )) {
    .header {
      min-height: calc(3.75rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .header {
      padding-top: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .header {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .header {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.175rem  +  4vw , 2.75rem )) or (column-gap: clamp( 0.625rem , -0.175rem  +  4vw , 2.75rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.625rem , -0.175rem  +  4vw , 2.75rem );
         -moz-column-gap: clamp( 0.625rem , -0.175rem  +  4vw , 2.75rem );
              column-gap: clamp( 0.625rem , -0.175rem  +  4vw , 2.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.175rem  +  4vw , 2.75rem )) or (column-gap: clamp( 0.625rem , -0.175rem  +  4vw , 2.75rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.625rem + 2.125 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(0.625rem + 2.125 * (100vw - 20rem) / 53.125);
              column-gap: calc(0.625rem + 2.125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1926470588rem  +  3.4117647059vw , 3.6875rem )) {
    .footer__container {
      padding-top: clamp( 1.875rem , 1.1926470588rem  +  3.4117647059vw , 3.6875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1926470588rem  +  3.4117647059vw , 3.6875rem )) {
    .footer__container {
      padding-top: calc(1.875rem + 1.8125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.6161764706rem  +  1.2941176471vw , 2.5625rem )) {
    .footer__container {
      padding-bottom: clamp( 1.875rem , 1.6161764706rem  +  1.2941176471vw , 2.5625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.6161764706rem  +  1.2941176471vw , 2.5625rem )) {
    .footer__container {
      padding-bottom: calc(1.875rem + 0.6875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.925rem  +  6vw , 6.3125rem )) {
    .main-page__container {
      padding-bottom: clamp( 3.125rem , 1.925rem  +  6vw , 6.3125rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.925rem  +  6vw , 6.3125rem )) {
    .main-page__container {
      padding-bottom: calc(3.125rem + 3.1875 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.875rem , 1.4044117647rem  +  2.3529411765vw , 3.125rem )) {
    .main-page__title {
      font-size: clamp( 1.875rem , 1.4044117647rem  +  2.3529411765vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4044117647rem  +  2.3529411765vw , 3.125rem )) {
    .main-page__title {
      font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.5573529412rem  +  6.5882352941vw , 5.375rem )) {
    .icon__container {
      padding-top: clamp( 1.875rem , 0.5573529412rem  +  6.5882352941vw , 5.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.5573529412rem  +  6.5882352941vw , 5.375rem )) {
    .icon__container {
      padding-top: calc(1.875rem + 3.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.8801470588rem  +  3.4117647059vw , 3.375rem )) {
    .icon__container {
      padding-bottom: clamp( 1.5625rem , 0.8801470588rem  +  3.4117647059vw , 3.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.8801470588rem  +  3.4117647059vw , 3.375rem )) {
    .icon__container {
      padding-bottom: calc(1.5625rem + 1.8125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.5625rem , -0.2022058824rem  +  8.8235294118vw , 6.25rem )) {
    .should__container {
      padding-top: clamp( 1.5625rem , -0.2022058824rem  +  8.8235294118vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -0.2022058824rem  +  8.8235294118vw , 6.25rem )) {
    .should__container {
      padding-top: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.7154411765rem  +  4.2352941176vw , 3.8125rem )) {
    .should__container {
      padding-bottom: clamp( 1.5625rem , 0.7154411765rem  +  4.2352941176vw , 3.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.7154411765rem  +  4.2352941176vw , 3.8125rem )) {
    .should__container {
      padding-bottom: calc(1.5625rem + 2.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.2279411765rem  +  8.2352941176vw , 6.25rem )) {
    .should__tit:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.2279411765rem  +  8.2352941176vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.2279411765rem  +  8.2352941176vw , 6.25rem )) {
    .should__tit:not(:last-child) {
      margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.5625rem , -0.2022058824rem  +  8.8235294118vw , 6.25rem )) {
    .choice__container {
      padding-top: clamp( 1.5625rem , -0.2022058824rem  +  8.8235294118vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -0.2022058824rem  +  8.8235294118vw , 6.25rem )) {
    .choice__container {
      padding-top: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.2022058824rem  +  8.8235294118vw , 6.25rem )) {
    .choice__container {
      padding-bottom: clamp( 1.5625rem , -0.2022058824rem  +  8.8235294118vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -0.2022058824rem  +  8.8235294118vw , 6.25rem )) {
    .choice__container {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.7720588235rem  +  11.7647058824vw , 9.375rem )) {
    .about__container {
      padding-top: clamp( 3.125rem , 0.7720588235rem  +  11.7647058824vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.7720588235rem  +  11.7647058824vw , 9.375rem )) {
    .about__container {
      padding-top: calc(3.125rem + 6.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 0.7955882353rem  +  11.6470588235vw , 9.3125rem )) {
    .about__container {
      padding-bottom: clamp( 3.125rem , 0.7955882353rem  +  11.6470588235vw , 9.3125rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.7955882353rem  +  11.6470588235vw , 9.3125rem )) {
    .about__container {
      padding-bottom: calc(3.125rem + 6.1875 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 2.25rem , 2.0382352941rem  +  1.0588235294vw , 2.8125rem )) {
    .about__title {
      font-size: clamp( 2.25rem , 2.0382352941rem  +  1.0588235294vw , 2.8125rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 2.0382352941rem  +  1.0588235294vw , 2.8125rem )) {
    .about__title {
      font-size: calc(2.25rem + 0.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , 0.2985294118rem  +  7.8823529412vw , 6.0625rem )) or (column-gap: clamp( 1.875rem , 0.2985294118rem  +  7.8823529412vw , 6.0625rem ))) {
    .glassic__container {
      -webkit-column-gap: clamp( 1.875rem , 0.2985294118rem  +  7.8823529412vw , 6.0625rem );
         -moz-column-gap: clamp( 1.875rem , 0.2985294118rem  +  7.8823529412vw , 6.0625rem );
              column-gap: clamp( 1.875rem , 0.2985294118rem  +  7.8823529412vw , 6.0625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.2985294118rem  +  7.8823529412vw , 6.0625rem )) or (column-gap: clamp( 1.875rem , 0.2985294118rem  +  7.8823529412vw , 6.0625rem ))) {
    .glassic__container {
      -webkit-column-gap: calc(1.875rem + 4.1875 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(1.875rem + 4.1875 * (100vw - 20rem) / 53.125);
              column-gap: calc(1.875rem + 4.1875 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3117647059rem  +  0.9411764706vw , 2rem )) {
    .glassic__title {
      font-size: clamp( 1.5rem , 1.3117647059rem  +  0.9411764706vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3117647059rem  +  0.9411764706vw , 2rem )) {
    .glassic__title {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .glassic__sub-title:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .glassic__sub-title:not(:last-child) {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 20em) {
  .menu__body {
    padding-top: 6.25rem;
  }

  .menu__body::before {
    height: 5rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 0.125em) and (max-width: 20em) {
@supports (padding-top: clamp( 3.75rem , 3.7342767296rem  +  12.5786163522vw , 6.25rem )) {
    .menu__body {
      padding-top: clamp( 3.75rem , 3.7342767296rem  +  12.5786163522vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 3.7342767296rem  +  12.5786163522vw , 6.25rem )) {
    .menu__body {
      padding-top: calc(3.75rem + 2.5 * (100vw - 0.125rem) / 19.875);
    }
}

@supports (height: clamp( 1.875rem , 1.8553459119rem  +  15.7232704403vw , 5rem )) {
    .menu__body::before {
      height: clamp( 1.875rem , 1.8553459119rem  +  15.7232704403vw , 5rem );
    }
}

@supports not (height: clamp( 1.875rem , 1.8553459119rem  +  15.7232704403vw , 5rem )) {
    .menu__body::before {
      height: calc(1.875rem + 3.125 * (100vw - 0.125rem) / 19.875);
    }
}
}

@media (max-width: 62.5em) and (min-width: 73.125em) {
  .glassic__container {
    padding-top: 6.25rem;
  }

  .glassic__container {
    padding-bottom: 6.25rem;
  }
}

@media (max-width: 62.5em) and (min-width: 20em) and (max-width: 73.125em) {
@supports (padding-top: clamp( 3.125rem , 1.9485294118rem  +  5.8823529412vw , 6.25rem )) {
    .glassic__container {
      padding-top: clamp( 3.125rem , 1.9485294118rem  +  5.8823529412vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.9485294118rem  +  5.8823529412vw , 6.25rem )) {
    .glassic__container {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.9485294118rem  +  5.8823529412vw , 6.25rem )) {
    .glassic__container {
      padding-bottom: clamp( 3.125rem , 1.9485294118rem  +  5.8823529412vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.9485294118rem  +  5.8823529412vw , 6.25rem )) {
    .glassic__container {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 53.125);
    }
}
}

@media (any-hover: hover) {
  .button-border:hover {
    color: #121212;
    background-color: #ffffff;
  }
}